<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2018 Patrick Lavigne
  ~
  ~ This file is part of file-refinery.
  ~
  ~ file-refinery is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ file-refinery is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with file-refinery.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf-8</charset>
      <Pattern>%nopex%highlight(%-5level) %white(%d{HH:mm:ss.SSS}) %-84(%magenta(%-15.15thread) %cyan(%logger)) ├ %msg%n%highlight(%ex{full})</Pattern>
    </encoder>
  </appender>

  <logger name="codes.patrick.refinery" level="trace" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <root level="warn">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
